In [1]:
import numpy as np
import pandas as pd

import pandas_datareader.data as web
from pandas_datareader import wb

import dask
import dask.dataframe as dd

In [2]:
matches = wb.search('gdp.*capita.*const')

In [3]:
matches

,id,name,unit,source,sourceNote,sourceOrganization,topics
680,6.0.GDPpc_constant,"GDP per capita, PPP (constant 2011 internation...",,LAC Equity Lab,GDP per capita based on purchasing power parit...,b'World Development Indicators (World Bank)',Economy & Growth
9266,NY.GDP.PCAP.KD,GDP per capita (constant 2010 US$),,World Development Indicators,GDP per capita is gross domestic product divid...,"b'World Bank national accounts data, and OECD ...",Economy & Growth
9268,NY.GDP.PCAP.KN,GDP per capita (constant LCU),,World Development Indicators,GDP per capita is gross domestic product divid...,"b'World Bank national accounts data, and OECD ...",Economy & Growth
9270,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",,World Development Indicators,GDP per capita based on purchasing power parit...,"b'International Comparison Program, World Bank...",Economy & Growth
9271,NY.GDP.PCAP.PP.KD.87,"GDP per capita, PPP (constant 1987 internation...",,WDI Database Archives,,b'',

In [7]:
GDP_growth_annual_perc = wb.download(country='All', indicator="NY.GDP.MKTP.KD.ZG", start=1960, end=2020)

In [10]:
GDP_growth_annual_perc.columns = ['GDP_growth_annual_perc']

In [16]:
GDP_growth_annual_perc.xs('United Kingdom', level=0)

      GDP_growth_annual_perc
year
2020                     NaN
2019                1.408642
2018                1.340721
2017                1.892077
2016                1.918155
...                      ...
1964                5.533659
1963                4.874384
1962                1.102910
1961                2.677119
1960                     NaN

[61 rows x 1 columns]

In [11]:
f = web.DataReader('', 'stooq')

In [12]:
f

              Open     High     Low   Close    Volume
Date
2020-10-09  87.410  88.7000  87.350  87.700   6005779
2020-10-08  87.270  88.5800  86.920  87.340   5535131
2020-10-07  86.160  87.2977  86.030  87.070   5899660
2020-10-06  87.970  88.0600  85.710  85.890   8743761
2020-10-05  86.490  88.1800  86.210  87.930   5984220
...            ...      ...     ...     ...       ...
2015-10-16  45.749  46.3000  45.343  45.943   9034687
2015-10-15  44.148  45.6760  43.767  45.626   9574590
2015-10-14  43.962  44.3930  43.533  43.838  10738195
2015-10-13  44.836  44.9960  43.650  43.724  11649438
2015-10-12  44.935  45.3140  44.709  44.912   8090190

[1259 rows x 5 columns]

Int64Index([ 9,  8,  7,  6,  5,  2,  1, 30, 29, 28,
            ...
            23, 22, 21, 20, 19, 16, 15, 14, 13, 12],
           dtype='int64', name='Date', length=1269)