In [1]:
import numpy as np
import pandas as pd

import pandas_datareader.data as web
from pandas_datareader import wb

import dask
import dask.dataframe as dd

import datetime

import requests
from zipfile import ZipFile

In [2]:
def worldBandData(indicator, endDate, col_name):
    """
    
    """
    df = wb.download(country='All', indicator=indicator, start=1960, end=endDate)
    df.columns = ['GDP_growth_annual_perc']
    return df

In [3]:
def stooqData(indicator):
    """
    
    """
    df = web.DataReader(indicator, 'stooq')
    
    return df

In [4]:
def loadDataSouces():
    df = pd.read_csv('../data/raw/dataSource.csv')
    return df

In [5]:
def eurostatData(indicator, start, end, retry_count):
    df = web.DataReader(indicator, 'eurostat', start=start, end=end, retry_count=retry_count)
    
    return d

In [9]:
def getFileFromStooq(url):
    """
    
    """
    r = requests.get(url, allow_redirects=True)
    if url.find('/'):
        filename = url.rsplit('/')[-1]
    open('../data/raw/{}'.format(filename), 'wb').write(r.content)
    if filename.endswith('.zip'):
        z = ZipFile('../data/raw/{}'.format(filename))
        z.extractall('../data/raw')

In [15]:
z = ZipFile('../data/raw/d_world_txt.zip')

In [16]:
z.extractall('../data/raw/')

In [10]:
getFileFromStooq('https://static.stooq.com/db/h/d_world_txt.zip')

trying extract

In [4]:
def saveData(df, source, indicator):
    df.to_parquet('../data/raw/{0}_{1}.parquet'.format(source, indicator))

In [5]:
dataSources = loadDataSouces()

In [17]:
https://static.stooq.com/db/h/d_world_txt.zip

In [ ]:
d.columns

In [18]:
d

STK_FLOW                                                                                   Exports  \
PARTNER                                                                       United Arab Emirates
UNIT                                                                                 Thousand euro
PROD_SP     Tennis balls, inflatable balls, other balls (excl. golf balls, and table-tennis balls)
GEO                                                                                        Albania
FREQ                                                                                        Annual
TIME_PERIOD
2018-01-01                                                 NaN

STK_FLOW                                                         \
PARTNER
UNIT
PROD_SP
GEO         Austria Belgium Bulgaria Switzerland Cyprus Czechia
FREQ         Annual  Annual   Annual      Annual Annual  Annual
TIME_PERIOD
2018-01-01     0.06    0.56      NaN         5.0    NaN    0.03

STK_FLOW                                                                      \
PARTNER
UNIT
PROD_SP
GEO         Germany (until 1990 former territory of the FRG) Denmark Estonia
FREQ                                                  Annual  Annual  Annual
TIME_PERIOD
2018-01-01                                             186.0    28.0     NaN

STK_FLOW     ...  \
PARTNER      ...
UNIT         ...
PROD_SP      ...
GEO          ...
FREQ         ...
TIME_PERIOD  ...
2018-01-01   ...

STK_FLOW                                                                  Imports  \
PARTNER                                                All countries of the world
UNIT                                                                Thousand euro
PROD_SP     Vessels, sailboats, other water-sport boats and water-sport equipment
GEO                                                                        Norway
FREQ                                                                       Annual
TIME_PERIOD
2018-01-01                                                 NaN

STK_FLOW                                                                   \
PARTNER
UNIT
PROD_SP
GEO           Poland Portugal Romania  Serbia    Sweden Slovenia Slovakia
FREQ          Annual   Annual  Annual  Annual    Annual   Annual   Annual
TIME_PERIOD
2018-01-01   35856.0  30568.0  9515.0  4221.0  140325.0  32942.0   5513.0

STK_FLOW
PARTNER
UNIT
PROD_SP
GEO            Turkey United Kingdom
FREQ           Annual         Annual
TIME_PERIOD
2018-01-01   403929.0       263460.0

[1 rows x 64904 columns]