In [52]:
import numpy as np
import pandas as pd

import pandas_datareader.data as web
from pandas_datareader import wb

from pandas_datareader import data as pdr

import yfinance as yf
yf.pdr_override() # <== that's all it takes :-)

import datetime

import requests
from zipfile import ZipFile

import os
import datetime

In [41]:
pd.options.display.max_columns = None

In [58]:
datetime.datetime.strftime(datetime.datetime.now(), '%Y-%m-%d')

'2020-11-10'

In [64]:
def loadPortfolio():
    """"""
    df = pd.read_csv('../data/raw/portfolio.csv')
    stock_info = pd.DataFrame()
    stock_history = pd.DataFrame()
    
    for index, row in df.iterrows():
        
        data = yf.Ticker(row['Ticker'])
        info = pd.DataFrame([data.info])
        stock_info = pd.concat([stock_info, info])
        
        history = pdr.get_data_yahoo(row['Ticker'], start="2017-01-01", end=datetime.datetime.strftime(datetime.datetime.now(), '%Y-%m-%d'))
        history['Ticker'] = row['Ticker']
        stock_history = pd.concat([stock_history, history])
                                         
    return stock_info, stock_history, df

In [65]:
stock_info, stock_history, portfolio = loadPortfolio()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [63]:
portfolio[1]

,Open,High,Low,Close,Adj Close,Volume,Ticker
Date,,,,,,,
2017-01-03,178.830002,180.000000,177.220001,178.050003,159.426880,2509300,MMM
2017-01-04,178.029999,178.899994,177.610001,178.320007,159.668640,1542000,MMM
2017-01-05,178.259995,179.139999,176.889999,177.710007,159.122437,1447800,MMM
2017-01-06,177.289993,178.600006,175.800003,178.229996,159.588043,1625000,MMM
2017-01-09,178.369995,178.380005,177.199997,177.270004,158.728455,1622600,MMM
...,...,...,...,...,...,...,...
2020-11-03,186.830002,189.529999,185.160004,188.339996,188.339996,6467900,V
2020-11-04,192.889999,196.880005,191.529999,193.970001,193.970001,8102700,V
2020-11-05,198.360001,200.990005,197.289993,197.639999,197.639999,7132100,V
2020-11-06,197.350006,199.679993,195.429993,198.470001,198.470001,6179200,V
2020-11-09,214.690002,217.649994,212.279999,212.679993,212.679993,17912772,V

In [ ]:
portfolio

In [45]:
data = yf.Ticker('CSP.L')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-10-09,361.799988,372.200012,360.600006,366.200012,982644,0,0
2020-10-12,368.600006,372.600006,365.161987,366.000000,589251,0,0
2020-10-13,362.000000,364.799988,347.799988,347.799988,628093,0,0
2020-10-14,352.200012,359.600006,345.399994,346.000000,1803818,0,0
2020-10-15,342.600006,347.079010,328.600006,343.200012,1095722,0,0
2020-10-16,345.600006,352.799988,336.799988,336.799988,1277504,0,0
2020-10-19,335.000000,341.399994,335.000000,337.000000,376381,0,0
2020-10-20,345.000000,345.000000,327.000000,339.200012,965543,0,0
2020-10-21,337.200012,341.200012,333.799988,335.600006,422848,0,0
2020-10-22,336.600006,342.600006,331.600006,336.399994,701299,0,0
2020-10-23,343.200012,343.600006,336.600006,343.600006,632761,0,0
2020-10-26,338.799988,347.600006,336.600006,340.799988,517834,0,0
2020-10-27,343.399994,346.399994,337.799988,343.000000,1135098,0,0
2020-10-28,336.600006,343.600006,330.799988,342.799988,1074139,0,0
2020-10-29,346.399994,348.600006,330.799988,332.000000,517387,0,0
2020-10-30,328.600006,340.200012,328.600006,337.200012,514962,0,0
2020-11-02,330.200012,336.600006,319.799988,330.600006,540508,0,0
2020-11-03,336.600006,350.000000,336.088013,347.399994,492644,0,0
2020-11-04,341.200012,367.000000,341.200012,367.000000,1187236,0,0
2020-11-05,369.399994,374.000000,362.200012,371.000000,936335,0,0
2020-11-06,374.000000,383.399994,363.799988,372.000000,779786,0,0
2020-11-09,380.000000,406.799988,380.000000,405.200012,1654482,0,0

In [26]:
pd.DataFrame([data.info])

,zip,sector,fullTimeEmployees,longBusinessSummary,city,phone,country,companyOfficers,website,maxAge,address1,fax,industry,address2,previousClose,regularMarketOpen,twoHundredDayAverage,trailingAnnualDividendYield,payoutRatio,volume24Hr,regularMarketDayHigh,navPrice,averageDailyVolume10Day,totalAssets,regularMarketPreviousClose,fiftyDayAverage,trailingAnnualDividendRate,open,toCurrency,averageVolume10days,expireDate,yield,algorithm,dividendRate,exDividendDate,beta,circulatingSupply,startDate,regularMarketDayLow,priceHint,currency,trailingPE,regularMarketVolume,lastMarket,maxSupply,openInterest,marketCap,volumeAllCurrencies,strikePrice,averageVolume,priceToSalesTrailing12Months,dayLow,ask,ytdReturn,askSize,volume,fiftyTwoWeekHigh,forwardPE,fromCurrency,fiveYearAvgDividendYield,fiftyTwoWeekLow,bid,tradeable,dividendYield,bidSize,dayHigh,exchange,shortName,longName,exchangeTimezoneName,exchangeTimezoneShortName,isEsgPopulated,gmtOffSetMilliseconds,quoteType,symbol,messageBoardId,market,annualHoldingsTurnover,enterpriseToRevenue,beta3Year,profitMargins,enterpriseToEbitda,52WeekChange,morningStarRiskRating,forwardEps,revenueQuarterlyGrowth,sharesOutstanding,fundInceptionDate,annualReportExpenseRatio,bookValue,sharesShort,sharesPercentSharesOut,fundFamily,lastFiscalYearEnd,heldPercentInstitutions,netIncomeToCommon,trailingEps,lastDividendValue,SandP52WeekChange,priceToBook,heldPercentInsiders,nextFiscalYearEnd,mostRecentQuarter,shortRatio,sharesShortPreviousMonthDate,floatShares,enterpriseValue,threeYearAverageReturn,lastSplitDate,lastSplitFactor,legalType,lastDividendDate,morningStarOverallRating,earningsQuarterlyGrowth,dateShortInterest,pegRatio,lastCapGain,shortPercentOfFloat,sharesShortPriorMonth,category,fiveYearAverageReturn,regularMarketPrice,logo_url
0,CM13 3AT,Consumer Cyclical,1823,Countryside Properties PLC operates as a home ...,Brentwood,44 12 7726 0000,United Kingdom,[],http://www.countrysideproperties.com,1,Countryside House,44 12 7769 0600,Residential Construction,The Drive,372,380,334.8155,0.000277,0.5,None,406.8,None,741911,None,372,344.69714,0.103,380,None,741911,None,None,None,None,1576713600,1.372903,None,None,380,2,GBp,12.429449,1654482,None,None,None,2125788800,None,None,1369784,1.754965,380,406.4,None,0,1654482,544,0.124333,None,None,248.8,405.6,False,None,0,406.8,LSE,COUNTRYSIDE PROPERTIES PLC ORD,Countryside Properties PLC,Europe/London,GMT,False,0,EQUITY,CSP.L,finmb_32315913,gb_market,None,1.507,None,0.12136,11.06,0.034483,None,32.59,None,524627008,None,None,1.981,None,None,None,1569801600,0.91481,147000000,32.6,10.3,0.136841,204.54317,0.03795,1632960000,1585612800,None,None,399464094,1825987968,None,None,None,None,1576713600,None,-0.363,None,None,None,None,None,None,None,380,https://logo.clearbit.com/countrysidepropertie...

In [9]:
portfolio

,Ticker,Name,Quantity,PricePaidPerShare
0,MMM,3M Co,0.223814,170.11240
1,ABBV,AbbVie Inc,1.022114,92.07170
2,ADM.L,Admiral Group plc,1.925545,2609.34479
3,AMD,"Advanced Micro Devices, Inc.",0.518938,77.29250
4,GOOGL,Alphabet Inc Class A,0.028764,1525.70740
5,AMZN,"Amazon.com, Inc.",0.017368,3056.46710
6,AMGN,"Amgen, Inc.",0.121180,239.80780
7,AAPL,Apple Inc,0.505382,119.94880
8,T,AT&T Inc.,2.552920,29.14710
9,AV.L,Aviva plc,45.917235,379.37500
10,BA.L,BAE Systems plc,6.572874,497.37500
11,BAC,Bank of America Corp,0.389540,25.20920
12,BWY.L,Bellway plc,4.322944,3258.77000
13,BHP.L,BHP Group PLC,4.667279,1515.62028
14,BYG.L,Big Yellow Group plc,6.382462,1074.99000
15,BP.L,BP plc,13.898633,309.08800
16,CCL.L,Carnival plc,1.656115,988.19800
17,CAT,Caterpillar Inc.,0.174790,129.46280
18,CVX,Chevron Corporation,0.361081,82.08680
19,KO,Coca-Cola Co,1.724113,49.14600
20,CSP.L,Countryside Properties PLC,27.006813,392.12300
21,CRSP,Crispr Therapeutics AG,0.460936,91.74810
22,D,Dominion Energy Inc,0.966033,81.32230
23,XOM,Exxon Mobil Corporation,1.349453,43.19190
24,GSK.L,GlaxoSmithKline plc,7.614594,1637.79000
25,HSBA.L,HSBC Holdings plc,12.661487,509.45009
26,IBE,Iberdrola SA,6.196941,10.07626
27,IAG.L,International Consolidated Airlns Grp SA,75.241577,124.82930
28,JNJ,Johnson & Johnson,1.005756,142.17690
29,JPM,JPMorgan Chase & Co.,0.405125,99.20390
30,JUP.L,Jupiter Fund Management PLC,20.202813,238.87400
31,LGEN.L,Legal & General Group Plc,72.123326,242.55200
32,MAIN,Main Street Capital Corporation,3.325826,27.93580
33,MCD,Mcdonald's Corp,0.149044,200.95920
34,MSFT,Microsoft Corporation,0.271290,194.57170
35,NG.L,National Grid plc,7.592218,931.36700
36,FP3,NextEra Energy Inc,0.334769,68.01700
37,PNN.L,Pennon Group plc,7.054492,976.76494
38,PEP,"PepsiCo, Inc.",0.694870,138.01000
39,PFE,Pfizer Inc.,3.052588,38.60310
40,QCOM,"QUALCOMM, Inc.",0.318059,114.31660
41,RTX,Raytheon Technologies Corp,0.232267,63.33840
42,O,Realty Income Corp,4.640028,64.44080
43,RDW.L,Redrow plc,5.825371,464.60000
44,REGI,Renewable Energy Group Inc,0.045780,57.23020
45,TRIG.L,Renewables Infrastructure Group Ltd,90.811478,135.74738
46,RIO.L,Rio Tinto plc,1.767406,4574.72166
47,RDSB.L,Royal Dutch Shell Plc Class B,4.671036,1186.48466
48,RMG.L,Royal Mail PLC,14.986267,193.06800
49,SVT.L,Severn Trent Plc,2.378086,2508.39519
50,SSE.L,SSE PLC,5.716388,1304.86000
51,STOR,Store Capital Corp,0.026152,27.53140
52,TUI.L,TUI AG,4.677912,467.83050
53,LON:ULVR,Unilever plc,1.792357,4442.94900
54,UNP,Union Pacific Corporation,0.250904,176.96050
55,VZ,Verizon Communications Inc.,2.413464,60.91430
56,V,Visa Inc,0.223493,197.16080

In [2]:
# download dataframe
data = pdr.get_data_yahoo("SPY", start="2017-01-01", end="2017-04-30")

[*********************100%***********************]  1 of 1 completed

In [3]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-03,225.039993,225.830002,223.880005,225.240005,209.785889,91366500
2017-01-04,225.619995,226.750000,225.610001,226.580002,211.033981,78744400
2017-01-05,226.270004,226.580002,225.479996,226.399994,210.866318,78379000
2017-01-06,226.529999,227.750000,225.899994,227.210007,211.620728,71559900
2017-01-09,226.910004,227.070007,226.419998,226.460007,210.922211,46939700
...,...,...,...,...,...,...
2017-04-24,237.179993,237.410004,234.559998,237.169998,221.858353,119209900
2017-04-25,237.910004,238.949997,237.809998,238.550003,223.149246,76698300
2017-04-26,238.509995,239.529999,238.350006,238.399994,223.008942,84702500
2017-04-27,238.770004,238.949997,237.979996,238.600006,223.196014,57410300
2017-04-28,238.899994,238.929993,237.929993,238.080002,222.709595,63532800

In [9]:
def worldBandData(indicator: str, endDate: int, col_name: str) -> pd.DataFrame:
    """
    
    """
    df = wb.download(country='All', indicator=indicator, start=1960, end=endDate)
    df.columns = ['GDP_growth_annual_perc']
    return df

In [ ]:
worldBandData()

In [10]:
def stooqData(indicator: str) -> pd.DataFrame:
    """
    
    """
    df = web.DataReader(indicator, 'stooq')
    
    return df

In [11]:
stooqData(indicator='^UKX')

               Open     High      Low    Close       Volume
Date
2020-10-30  5581.75  5593.40  5534.08  5577.27          NaN
2020-10-29  5582.80  5616.58  5534.66  5581.75  722440069.0
2020-10-28  5728.99  5728.99  5525.52  5582.80  853019548.0
2020-10-27  5792.01  5806.23  5728.18  5728.99  836912059.0
2020-10-26  5860.28  5868.36  5782.37  5792.01  642587808.0
...             ...      ...      ...      ...          ...
2015-11-06  6364.90  6395.19  6332.73  6353.83  759382080.0
2015-11-05  6412.88  6421.81  6358.12  6364.90  723182016.0
2015-11-04  6383.61  6459.46  6383.04  6412.88  793921280.0
2015-11-03  6361.80  6383.61  6344.70  6383.61  639601920.0
2015-11-02  6361.09  6364.42  6317.29  6361.80  532626272.0

[1265 rows x 5 columns]

In [4]:
def loadDataSouces():
    df = pd.read_csv('../data/raw/dataSource.csv')
    return df

In [5]:
def eurostatData(indicator, start, end, retry_count):
    df = web.DataReader(indicator, 'eurostat', start=start, end=end, retry_count=retry_count)
    
    return d

In [6]:
def getFileFromStooq(url):
    """
    
    """
    r = requests.get(url, allow_redirects=True)
    if url.find('/'):
        filename = url.rsplit('/')[-1]
    open('../data/raw/{}'.format(filename), 'wb').write(r.content)
    if filename.endswith('.zip'):
        z = ZipFile('../data/raw/{}'.format(filename))
        z.extractall('../data/raw')

In [10]:
getFileFromStooq('https://static.stooq.com/db/h/d_world_txt.zip')

trying extract

In [7]:
def saveData(df, source, indicator):
    df.to_parquet('../data/raw/{0}_{1}.parquet'.format(source, indicator))

In [5]:
dataSources = loadDataSouces()

In [8]:
file_dirs = []
for root, dirs, files in os.walk('../data/raw/data', topdown=True):
    if files:
        for f in files:
            file_dirs.append(os.path.join(root, f))

In [9]:
data_dirs = pd.DataFrame(file_dirs, columns=['location'])

In [10]:
data_dirs['instrument_type'] = data_dirs.location.str.split('/').str.get(6)

In [11]:
data_dirs['instrument'] = data_dirs.location.str.split('/').str.get(7).str.replace('.txt', '')

In [12]:
data_dirs.instrument_type.value_counts()

currencies\other        1928
commodities              530
commodities cash         229
cryptocurrencies         110
money market              81
currencies\major          66
indices                   61
bonds                     32
lme                       18
stooq stocks indices      13
Name: instrument_type, dtype: int64

In [13]:
data_dirs.head()

                                      location instrument_type instrument
0  ../data/raw/data/daily/world/lme/na_c.f.txt             lme     na_c.f
1  ../data/raw/data/daily/world/lme/ah_3.f.txt             lme     ah_3.f
2  ../data/raw/data/daily/world/lme/zs_3.f.txt             lme     zs_3.f
3  ../data/raw/data/daily/world/lme/ni_c.f.txt             lme     ni_c.f
4  ../data/raw/data/daily/world/lme/sn_c.f.txt             lme     sn_c.f

In [14]:
data_dirs.loc[0, 'parquet_location'] = '../data/processed/stooq/df.parquet'

In [15]:
for index, row in data_dirs.iterrows():
    df = pd.read_csv(row['location'], parse_dates=['<DATE>'])
    df.columns = [x.replace('<', '').replace('>', '') for x in df.columns.values]
    df.to_parquet('../data/processed/stooq/{0}.parquet'.format(row['instrument']), index=None)
    data_dirs.loc[index, 'parquet_location'] = '../data/processed/stooq/{0}.parquet'.format(row['instrument'])

In [17]:
data_dirs.to_parquet('../data/processed/data_dirs.parquet', index=None)